@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* body.recreate_body{
    background: url('../images/recreate_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -pie-background: url(/images/recreate_bg.jpg) no-repeat);
    behavior: url(PIE.htc);
    color: #333;
} */
.recreate_p {
  padding-top: 60px;
  font-family: "Lato", sans-serif;
}
.recreate_p .container {
  max-width: 1075px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}
.recreate_p .page_heading_container {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.recreate_p .page_heading {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #3d3d3d;
  font-family: "Gilda Display", serif;
}
.recreate_p .table_container {
  /* font-family: 'Lato', sans-serif; */
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  background-image: url("/images/fabric.png");
  min-height: 445px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0 15px;
  padding-bottom: 20px;
}
.recreate_p .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.recreate_p table thead th {
  line-height: 1.428571429;
  font-size: 14px;
}
.recreate_p table tbody td small {
  font-size: 12px;
  line-height: 17px;
}
.recreate_p table tbody .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.recreate_p table tbody .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.recreate_p table tbody td {
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-bottom: 0;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5 !important;
  --bs-table-accent-bg: #f5f5f5;
}
.recreate_p .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid transparent;
}
.recreate_p .btn-success:hover {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}

/* 
==========================================
=============== Responsive ===============
==========================================
*/
@media only screen and (max-width: 1024px) {
  .recreate_p .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .recreate_p .container {
    padding-left: 0;
    padding-right: 0;
  }
  .recreate_p .table_container {
    padding-bottom: 15px;
    margin-top: 20px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .recreate_p table thead th,
  .recreate_p table tbody td {
    white-space: nowrap;
  }
  .table_responsive {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #c9c9c9;
    margin-bottom: 15px;
  }
  .recreate_p .table_container {
    margin-bottom: 0;
    margin-top: 0;
    border: 0;
  }
}

@media only screen and (max-width: 520px) {
}
